.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    background-color: #f0f8ff;
    font-family: Roboto, sans-serif;
}

.main .leftSide .leftTextContainer #odinLogo {
    font-family: 'Norse-Bold', sans-serif;
    font-size: 4em;
    text-align: center;
    color: #ffffff;
    margin: 0;
    
}
.main .leftSide .leftTextContainer{
    background-color : rgba(0, 0, 0, 0.5); 
    width: inherit;
}

.main .leftSide {
    background-image: url('assets/leavesBackground.jpg');
    background-size: cover;
    background-position: center;
    display:  flex;
    justify-content: center;
    align-items: center;
    
}

.mainTextInput{
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;   
}

.mainTextInput h3{
    text-align: center;
}
.inputField{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputName{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    font-size: 12px;
}

.inputInformation{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    font-size: 12px;
}

.inputPasswordInformation{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    font-size: 12px;
}


@font-face{
    font-family: Norse-Bold;
  src: url(assets/Norse-Bold.otf);
}
